<%- include("./partials/head") %>
  <%- include("./partials/header") %>
    <% for (let product of productData) { %>
      <main class="main">
        <section class="hero">
          <img class="hero--image" src="<%= product.productionBanner %>"
            alt="Anúncio da nova linha de produtos da marca <%= product.disneyBrand %>" />
        </section>
        <p class="path">
          <a href="/">Home</a> > <a href="/produtos">Todos os produtos</a> > <a
            href="/produtos/todos/<%= product.category.toLowerCase() %>">
            <%= product.category %>
          </a> >
          <%= product.name %>
        </p>
        <section class="item">
          <div class="item__gallery">
            <div class="item__gallery__main">
              <img class="item__gallery__main--image" src="<%= product.picture1 %>"
                alt="<%= product.name %> - Posição 1" />
            </div>
            <div class="item__gallery__mini">
              <div class="item__gallery__mini-card">
                <img class="item__gallery__mini-card--image" src="<%= product.picture2 %>"
                  alt="<%= product.name %> - Posição 2" />
              </div>
              <div class="item__gallery__mini-card">
                <img class="item__gallery__mini-card--image" src="<%= product.picture3 %>"
                  alt="<%= product.name %> - Posição 3" />
              </div>
              <div class="item__gallery__mini-card">
                <img class="item__gallery__mini-card--image" src="<%= product.picture4 %>"
                  alt="<%= product.name %> - Posição 4" />
              </div>
            </div>
          </div>
          <div class="item__data">
            <p class="item__data--off">
              <%= product.discount %>% OFF
            </p>
            <p class="item__data--name">
              <%= product.name %>
            </p>
            <p class="item__data--old-price">
              <%= product.price %>
            </p>
            <p class="item__data--price">
              <%= product.promotionalPrice %>
            </p>
            <p class="item__data--payment-conditions">
              <small>ou</small>
              <%= product.paymentsConditions %>x sem juros de R$ <%= product.paymentsValues %>
            </p>
            <div class="item__data__shipping">
              <hr class="item__shipping--break" />
              <p class="item__shipping--title">
                Consultar prazo e valor do frete:
              </p>
              <form action="" class="item__shipping__form">
                <input name="CEP" type="text" class="item__shipping__form__cep--box" id="cepBox" />
                <input name="CEP" type="submit" class="item__shipping__form__cep--button" id="cepButton"
                  value="Buscar" />
              </form>
              <a class="item__shipping--nocep" href="#" target="_blank">Não sei meu CEP</a>
              <hr class="item__shipping--break" />
            </div>
            <div class="item__data__buying">
              <div class="item__buying__quantity">
                <label for="quantity" class="item__buying__quantity--label">Quantidade</label>
                <input name="quantity" type="text" class="item__buying__quantity-box" id="quantityBox" value="1" />
              </div>
              <div class="item__buying__buttons">
                <input for="quantity" type="button" class="item__buying--buy-button" id="buyButton"
                  value="Comprar agora" />
                <input for="quantity" type="button" class="item__buying--cart-button" id="cartButton"
                  value="Adicionar ao carrinho" />
              </div>
              <p class="item__buying--suggestion">
                Pague com Koin em 3x sem juros no boleto!
              </p>
            </div>
          </div>
        </section>
        <nav class="showcase">
          <section class="products">
            <div class="showcase__more-products products__more-products">
              <p class="showcase__more-products--text products__more-products--text">
                Você também pode gostar de...
              </p>
            </div>
            <article class="showcase__products__container products-flex">
              <div class="products-flex__item">
                <div class="products-flex__item__rectangle">
                  <img class="products-flex__image"
                    src="/public/images/starwars/estatua-the-child-baby-yoda-mandalorian.webp"
                    alt="estatua-the-child-baby-yoda-mandalorian" />
                </div>
                <a class="products__link--styled" href="#">Estátua The Child na cadeira | Baby Yoda Mandalorian</a>
                <p class="products__price--styled">R$ 3.000,00</p>
                <p class="products__price_conditions--styled">12x R$ 250,00</p>
              </div>
              <div class="products-flex__item">
                <div class="products-flex__item__rectangle">
                  <img class="products-flex__image" src="/public/images/starwars/livro-starwars-dark-edition.webp"
                    alt="livro-starwars-dark-edition" />
                </div>
                <a class="products__link--styled" href="#">Livro Star Wars: Dark Edition</a>
                <p class="products__price--styled">R$ 99,90</p>
                <p class="products__price_conditions--styled">12x de R$ 9,69</p>
              </div>
              <div class="products-flex__item--600w">
                <div class="products-flex__item__rectangle">
                  <img class="products-flex__image" src="/public/images/starwars/funko-pop-296-stormtrooper-pride.webp"
                    alt="funko-pop-296-stormtrooper-pride" />
                </div>
                <a class="products__link--styled" href="#">Funko Pop 296 Stormtrooper Pride</a>
                <p class="products__price--styled">R$ 134,30</p>
                <p class="products__price_conditions--styled">12x de R$ 13,02</p>
              </div>
              <div class="products-flex__item--600w">
                <div class="products-flex__item__rectangle">
                  <img class="products-flex__image"
                    src="/public/images/starwars/funko-pop-456-darth-vader-edicao-especial.webp"
                    alt="funko-pop-456-darth-vader-edicao-especial" />
                </div>
                <a class="products__link--styled" href="#">Funko Pop 456 Darth Vader Edição Especial</a>
                <p class="products__price--styled">R$ 3.000,00</p>
                <p class="products__price_conditions--styled">12x R$ 250,00</p>
              </div>
              <div class="products-flex__item--900w">
                <div class="products-flex__item__rectangle">
                  <img class="products-flex__image"
                    src="/public/images/starwars/pantufa-3d-chewbacca-sola-de-borracha.webp"
                    alt="pantufa-3d-chewbacca-sola-de-borracha" />
                </div>
                <a class="products__link--styled" href="#">Pantufa 3d Chewbacca | Sola de borracha</a>
                <p class="products__price--styled">R$ 179,90</p>
                <p class="products__price_conditions--styled">12x de R$ 17,44</p>
              </div>
              <div class="products-flex__item--900w">
                <div class="products-flex__item__rectangle">
                  <img class="products-flex__image" src="/public/images/starwars/lego-starwars-milleniun-falcon.webp"
                    alt="lego-starwars-milleniun-falcon" />
                </div>
                <a class="products__link--styled" href="#">Lego Star Wars Milleniun Falcon</a>
                <p class="products__price--styled">R$ 105,56</p>
                <p class="products__price_conditions--styled">12x de R$ 10,23</p>
              </div>
            </article>
          </section>
        </nav>
        <article class="description">
          <p class="description__title">
            Descrição
          </p>
          <p class="description__text">
            <%= product.description %>
          </p><br>
          <p class="description__text">
            <strong>Fabricante</strong>: <%= product.manufacturer %><br>
              <strong>Série</strong>: <%= product.disneyBrand %><br>
                <strong>Personagem</strong>: <%= product.character %><br>
                  <strong>Material base</strong>: <%= product.material %><br>
                    <strong>Possui articulação</strong>: <%= product.anyArticulation %><br>
                      <strong>Peso<small>(kg)</small></strong>: <%= product.weight %><br>
                        <strong>Largura<small>(cm)</small></strong>: <%= product.width %><br>
                          <strong>Altura<small>(cm)</small></strong>: <%= product.height %><br>
                            <strong>Profundidade<small>(cm)</small></strong>: <%= product.depth %><br>
          </p>
        </article>
        <nav class="showcase">
          <section class="products">
            <div class="showcase__more-products products__more-products">
              <p class="showcase__more-products--text products__more-products--text">
                Você também pode gostar de...
              </p>
            </div>
            <article class="showcase__products__container products-flex">
              <div class="products-flex__item">
                <div class="products-flex__item__rectangle">
                  <img class="products-flex__image"
                    src="/public/images/starwars/estatua-the-child-baby-yoda-mandalorian.webp"
                    alt="estatua-the-child-baby-yoda-mandalorian" />
                </div>
                <a class="products__link--styled" href="#">Estátua The Child na cadeira | Baby Yoda Mandalorian</a>
                <p class="products__price--styled">R$ 3.000,00</p>
                <p class="products__price_conditions--styled">12x R$ 250,00</p>
              </div>
              <div class="products-flex__item">
                <div class="products-flex__item__rectangle">
                  <img class="products-flex__image" src="/public/images/starwars/livro-starwars-dark-edition.webp"
                    alt="livro-starwars-dark-edition" />
                </div>
                <a class="products__link--styled" href="#">Livro Star Wars: Dark Edition</a>
                <p class="products__price--styled">R$ 99,90</p>
                <p class="products__price_conditions--styled">12x de R$ 9,69</p>
              </div>
              <div class="products-flex__item--600w">
                <div class="products-flex__item__rectangle">
                  <img class="products-flex__image" src="/public/images/starwars/funko-pop-296-stormtrooper-pride.webp"
                    alt="funko-pop-296-stormtrooper-pride" />
                </div>
                <a class="products__link--styled" href="#">Funko Pop 296 Stormtrooper Pride</a>
                <p class="products__price--styled">R$ 134,30</p>
                <p class="products__price_conditions--styled">12x de R$ 13,02</p>
              </div>
              <div class="products-flex__item--600w">
                <div class="products-flex__item__rectangle">
                  <img class="products-flex__image"
                    src="/public/images/starwars/funko-pop-456-darth-vader-edicao-especial.webp"
                    alt="funko-pop-456-darth-vader-edicao-especial" />
                </div>
                <a class="products__link--styled" href="#">Funko Pop 456 Darth Vader Edição Especial</a>
                <p class="products__price--styled">R$ 3.000,00</p>
                <p class="products__price_conditions--styled">12x R$ 250,00</p>
              </div>
              <div class="products-flex__item--900w">
                <div class="products-flex__item__rectangle">
                  <img class="products-flex__image"
                    src="/public/images/starwars/pantufa-3d-chewbacca-sola-de-borracha.webp"
                    alt="pantufa-3d-chewbacca-sola-de-borracha" />
                </div>
                <a class="products__link--styled" href="#">Pantufa 3d Chewbacca | Sola de borracha</a>
                <p class="products__price--styled">R$ 179,90</p>
                <p class="products__price_conditions--styled">12x de R$ 17,44</p>
              </div>
              <div class="products-flex__item--900w">
                <div class="products-flex__item__rectangle">
                  <img class="products-flex__image" src="/public/images/starwars/lego-starwars-milleniun-falcon.webp"
                    alt="lego-starwars-milleniun-falcon" />
                </div>
                <a class="products__link--styled" href="#">Lego Star Wars Milleniun Falcon</a>
                <p class="products__price--styled">R$ 105,56</p>
                <p class="products__price_conditions--styled">12x de R$ 10,23</p>
              </div>
            </article>
          </section>
        </nav>
        <% } %>
          <section class="main-footer">
            <fieldset class="payments">
              <legend class="payments__title">Formas de pagamento</legend>
              <div class="payments__methods">
                <!-- <div class="payments__methods--brands"> -->
                <img src="/public/images/brands/koin.webp" alt="Logotipo Koin." />
                <img src="/public/images/brands/pix.svg" alt="Logotipo Pix." />
                <!-- </div> -->
                <!-- <div class="payments__methods--brands"> -->
                <img src="/public/images/brands/mastercard.svg" alt="Logotipo Mastercard." />
                <img src="/public/images/brands/boleto.svg" alt="Logotipo Boleto." />
                <img src="/public/images/brands/visa.svg" alt="Logotipo Visa." />
                <!-- </div> -->
                <!-- <div class="payments__methods--brands"> -->
                <img src="/public/images/brands/ebanxpay.svg" alt="Logotipo EbanxPay." />
                <img src="/public/images/brands/paypal.svg" alt="Logotipo PayPal." />
                <!-- </div> -->
                <!-- <div class="payments__methods--brands"> -->
                <img src="/public/images/brands/picpay.svg" alt="Logotipo PicPay." />
                <img src="/public/images/brands/american-express.svg" alt="Logotipo American Express." />
                <img src="/public/images/brands/elo.svg" alt="Logotipo Elo." />
                <!-- </div> -->
                <!-- <div class="payments__methods--brands"> -->
                <img src="/public/images/brands/ame-digital.svg" alt="Logotipo Ame." />
                <img src="/public/images/brands/diners.svg" alt="Logotipo Diners." />
                <!-- </div> -->
              </div>
            </fieldset>
            <fieldset class="security">
              <legend class="security__title">Segurança e Qualidade</legend>
              <div class="security_methods">
                <div class="security_methods--brands">
                  <img src="/public/images/brands/google-safe-browsing.svg" alt="Logotipo Google Safe Browsing." />
                </div>
              </div>
            </fieldset>
            <section class="contact-info">
              <div class="contact-info__menu">
                <img class="contact-info__menu--brand" src="/public/images/brands/disney-logo.svg" alt="logo" />
                <ul>
                  <li>
                    <link href="#" />Clássicos
                  </li>
                  <li>
                    <link href="#" />Marvel
                  </li>
                  <li>
                    <link href="#" />Princesas
                  </li>
                  <li>
                    <link href="#" />Star Wars
                  </li>
                  <li>
                    <link href="#" />Login
                  </li>
                </ul>
                <hr />
                <div>
                  <form class="contact-info__form" action="https://api.staticforms.xyz/submit" method="POST">
                    <h3>Fale conosco</h3>
                    <label for="name">Nome</label>
                    <input type="text" name="name" id="name" />
                    <label for="email">E-mail</label>
                    <input type="email" name="email" id="email" />
                    <label for="message">Deixe sua mensagem</label>
                    <textarea name="message" cols="30" rows="10" placeholder="Digite sua messagem">
                </textarea>
                    <button type="submit">Enviar</button>
                    <input type="hidden" name="accessKey" value="29cb2464-1e88-48c9-a397-964b06b19673" />
                    <input type="hidden" name="redirectTo" value="http://localhost:3333/" />
                  </form>
                </div>
              </div>

              <div class="contact-info__copyright">
                <p class="contact-info__copyright--message">
                  © Disney © Disney•Pixar © & ™ Lucasfilm LTD ©
                  <span id="year"></span> MARVEL. Reservados todos os direitos,
                  Disney Entertainment
                </p>
              </div>
            </section>
          </section>
      </main>
      <footer class="copyright">
        <div class="copyright--software-house">
          <p>
            Desenvolvido por <strong>DH Geek | <span id="year"></span></strong>
          </p>
        </div>
        <div class="copyright--authors">
          <a href="https://www.linkedin.com/in/danilobatista/" target="_blank">Danilo Batista</a>
          |
          <a href="https://github.com/RenanppCosta" target="_blank">Renan Costa</a>
          |
          <a href="https://www.linkedin.com/in/aliomar-lopes-neto/" target="_blank">Aliomar Lopes Neto</a>
          |
          <a href="https://github.com/Annefedy" target="_blank">Anne Carine Bien Aime</a>
        </div>
      </footer>
      <script src="/public/scripts/app.js"></script>
      <script src="/public/scripts/menu.js"></script>
      </body>

      </html>